footer
  .container.text-center
    p.pull-left © 2016
     a(href='https://github.com/PascalHelbig') &nbsp;Pascal Helbig
    ul.pull-right.list-inline
      li
        a(href='https://github.com/PascalHelbig/voting-app') GitHub Project
      li
        a(href='https://github.com/PascalHelbig/voting-app/issues') Issues
