extends ../layout

block content
  h1 My Polls
  a.btn.btn-primary(href='/polls/new') Create new poll
  br
  table.table.table-hover
    thead
      tr
        th Question
        th Action
    tbody
      - each poll in polls
        tr
          td
            a(href="/polls/" + poll._id)=poll.question
          td
            a.btn.btn-primary(href="/polls/edit/" + poll._id)
              i.fa.fa-pencil
              | edit
            | &nbsp;
            a.btn.btn-danger(href="/polls/delete/" + poll._id)
              i.fa.fa-trash
              | delete
