extends ../layout

block content
  h1 Edit Poll

  form.form-horizontal(action='/polls', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    input(type='hidden', name='_id', value=poll._id)
    .form-group
      label.col-sm-3.control-label(for='question') Question
      .col-sm-7
        input.form-control(type='text', name='question', id='question',value=poll.question)
    hr
    .form-group
      label.col-sm-3.control-label(for='answers') Answers
      .col-sm-7#answers
        - each answer, index in poll.answers
          include answer_form
    .form-group
      .col-sm-offset-3.col-sm-4
        button.btn(type="button")#addAnswer Add Answer
    .form-group
      .col-sm-offset-3.col-sm-4
        button.btn.btn-primary(type='submit')
          i.fa.fa-save
          | Save Poll
        | &nbsp;
        a.btn.btn-default(href='/polls/account')
          i.fa.fa-close
          | Close

  #answerTemplate(style="display:none")
    - var index = '{{index}}'
    include answer_form
